/*********** FONTS ************/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

/*********** BIG APPLE ************/
. {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 30px;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  border: white solid 1px;

  color: white;
}

/*********** HERO ************/
.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  min-height: 700px;
}

.greeting {
  margin-left: -10px;
  font-size: 32pt;
  font-family: "Josefin Sans";
}

.location {
  margin-top: 10px;

  font-family: "Josefin Sans";
}

.star {
  margin-left: 50px;
  font-size: 64pt;
  font-family: "Bebas Neue";
}

.typewriter {
  margin-left: 50px;
}

#type {
  color: rgb(92, 120, 92);
}

#idpic {
  border-radius: 150px;
  width: 300px;
  height: 300px;
  padding: 3px;
  background-color: white;
}

#linkedin {
  width: 70px;
  height: 70px;
}

#github {
  background-color: rgb(196, 190, 190);
  border-radius: 10px;
  width: 170px;
  height: 70px;
}

.social {
  margin: 10px;
}

/*********** ABOUT ME ************/

.aboutHR {
  margin: 30px;
}

.header-about {
  text-align: center;
  font-size: 32pt;
}

#me {
  color: rgb(92, 120, 92);
  font-family: "Josefin Sans";
}

/******************* FLOATING PIC STUFF **********************/
.floating-pics {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;

  /* background-image: url("https://i.natgeofe.com/n/11e30e6f-6fd8-4755-9647-0df41738713a/92565_3x2.jpg"); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  width: 190px;
  height: 120px;
  margin: 0 auto;
}

.floating-pics img {
  width: 190px;
  height: 120px;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;

  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-direction: alternate;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.floating-pics img:nth-of-type(1) {
  animation-delay: 16s;
}
.floating-pics img:nth-of-type(2) {
  animation-delay: 12s;
}
.floating-pics img:nth-of-type(3) {
  animation-delay: 12s;
}

/******************* ^FLOATING PIC STUFF^ **********************/

.about-container {
  display: flex;
  flex-direction: column;
  margin: 20px;

  min-height: 800px;
}

.about-paragraph {
  margin: 10px;
  padding: 20px;
  border: white 1pt solid;
  font-size: 16pt;
}

.skills {
  font-family: "Josefin Sans";
  text-align: center;
}

.skillheader {
  text-align: center;
  padding: 10px;
}
