/*********** FONTS ************/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/*********** BIG APPLE ************/
. {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);

  color: black;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  color: white;
  background-color: rgb(211, 217, 202);
  cursor: pointer;
}

/*********** HERO ************/
.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
  justify-content: space-evenly;
  gap: 1rem;
}

.greeting {
  font-size: 32pt;
  font-family: 'Josefin Sans';
}

.star {
  font-size: 64pt;
  font-family: 'Bebas Neue';
}

.typewriter {
  margin-left: 4rem;
}

#type {
  color: rgb(92, 120, 92);
}

#idpic {
  border-radius: 50rem;
  width: 19rem;
  height: 19rem;
  padding: 0.25rem;
  background-color: white;
}

#linkedin {
  width: 2rem;
  height: 2rem;
}

#github {
  background-color: rgb(196, 190, 190);
  border-radius: 0.2rem;
  width: 4.86rem;
  height: 2rem;
}

.social {
  margin: 1rem;
}

.main-foot {
  text-align: center;
}

/*********** ABOUT ME ************/

.aboutHR {
  margin: 3rem;
}

.header-about {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 32pt;
}

#me {
  color: rgb(92, 120, 92);
  font-family: 'Josefin Sans';
}

#aspen-pic-container {
  display: flex;
  justify-content: center;
}

#aspen-pic {
  text-align: center;
  width: 100%;
  height: 40rem;
  opacity: 70%;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.about-paragraph {
  margin: 10px;
  padding: 20px;
  width: 50%;
  background-color: white;
  border: rgb(3, 3, 3) 1pt solid;
  font-size: 16pt;
}

.skills {
  margin: 10px;
  padding: 20px;
  border: rgb(3, 3, 3) 1pt solid;
  font-family: 'Josefin Sans';
  background-color: white;
  text-align: center;
}

.skillheader {
  text-align: center;
  padding: 1rem;
  text-decoration: underline;
}

/*********** PROJECTS ************/
.projectsHR {
  margin: 3rem;
}

.header-projects {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 32pt;
}

.projects-container {
  min-height: 80rem;
}
