/*********** FONTS ************/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/*********** BIG APPLE ************/

body {
  margin: 0;
}

.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-top: 0;
}

/* a {
  color: white;
} */

.navbar {
  font-family: 'Josefin Sans';
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding: 1.5rem;
  color: white;
  background-color: #2c666ecf;
  cursor: pointer;
}

#is-sticky {
  position: sticky;
  top: 0;
}

.nav-elements {
  display: flex;
  gap: 1rem;
  font-size: 14pt;
}

#HOME:hover {
  color: #494646;
  cursor: pointer;
  transform: scale(1.2);
}
#HOME:active {
  text-decoration: underline;
}

#ABOUT:hover {
  color: #494646;
  cursor: pointer;
  transform: scale(1.2);
}
#ABOUT:active {
  text-decoration: underline;
}

#PORTFOLIO:hover {
  color: #494646;
  transform: scale(1.2);
  cursor: pointer;
}
#PORTFOLIO:active {
  text-decoration: underline;
}

#MEG {
  color: white;
  font-size: 15pt;
  text-decoration: none;
}

#MEG:hover {
  color: #494646;

  cursor: pointer;
}
#MEG:active {
  text-decoration: underline;
}

#CONTACT {
  color: black;
}

#CONTACT:hover {
  color: #ffffff;
  cursor: pointer;
  transform: scale(1.2);
}
#CONTACT:active {
  text-decoration: underline;
}

/*********** HERO ************/
.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
  justify-content: space-evenly;
  gap: 1rem;
  min-height: 27rem;
}

.greeting {
  font-size: 32pt;
  font-family: 'Josefin Sans';
}

.star {
  font-size: 64pt;
  font-family: 'Bebas Neue';
}

.typewriter {
  margin-left: 4rem;
}

#type {
  color: #07393c;
}

/** HOVER BUTTON STUFF ***/
.middle {
  margin-top: 3rem;
  margin-left: 15rem;
  position: absolute;
  transform: translate(-50%, -50%);
}
.btn {
  position: relative;
  display: block;
  color: black;
  font-size: 14px;
  font-family: 'montserrat';
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #2c666ecf;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before {
  background: #2c666e6e;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before {
  width: 0%;
  height: 100%;
}

.btn1:hover::before {
  width: 100%;
}

/** HOVER BUTTON STUFF ***/
#chev {
  margin-left: 0.7rem;
}

#idpic {
  border-radius: 50rem;
  width: 19rem;
  height: 19rem;
  padding: 0.25rem;
  background-color: white;
}

.heroHR {
  width: 60rem;
}

.social {
  margin: 1rem;
}

#linkedin:hover {
  color: #2c666ecf;
  transform: scale(1.2);
  cursor: pointer;
}
#linkedin:active {
  text-decoration: underline;
}

#github:hover {
  color: #2c666ecf;
  cursor: pointer;
  transform: scale(1.2);
}
#github:active {
  text-decoration: underline;
}

#email:hover {
  color: #2c666ecf;
  cursor: pointer;
  transform: scale(1.2);
}
#email:active {
  text-decoration: underline;
}

#instagram:hover {
  color: #2c666ecf;
  cursor: pointer;
  transform: scale(1.2);
}
#instagram:active {
  text-decoration: underline;
}

.main-foot {
  text-align: center;
}

/*********** ABOUT ME ************/

#me {
  color: #2c666e;
  font-family: 'Josefin Sans';
}

#header-about {
  display: flex;
  justify-content: space-around;
  margin: 4rem;
  padding: 1rem;
  min-height: 10rem;
  font-size: 32pt;
}

.lilabout {
  margin-top: 2rem;
  font-size: 18pt;
  font-family: 'Josefin Sans';
  color: rgb(92, 92, 92);
  width: 20rem;
  line-height: 1.5;
}

.lillilabout {
  margin-top: 2rem;
  font-size: 14pt;
  font-family: 'Josefin Sans';
  color: rgb(0, 0, 0);
  line-height: 1.5;
  width: 25rem;
}

#java-word {
  color: #ff6464;
  font-weight: bolder;
}

#aboutPic {
  width: 25rem;
  box-shadow: 0 0 1em rgb(158, 159, 166);
  background-color: white;
}

.aboutHR {
  margin-left: 4rem;
  margin-right: 4rem;
}
.about-container {
  margin-right: 4rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  min-height: 25rem;
}

.aboutcontent {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

/*********** SKILL STUFF ************/

.skillheader {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  font-size: 32pt;
}

#skills-word {
  margin-top: 0.5rem;
  color: #2c666e;
  font-family: 'Josefin Sans';
}

.allskills {
  margin: 1rem;
  padding: 2rem;
  background-color: white;
  background-color: white;
}

.skillbars {
  width: 50rem;
}

.bar {
  display: flex;
  justify-content: row;
  justify-content: space-between;
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 0.5rem;
}

.tech {
  font-size: 12pt;
}

.percent {
  margin-top: 0.4rem;
  margin-right: 0.4rem;
  font-size: 12pt;
}

/*********** BARS ************/
.js {
  width: 70%;
  background-color: #2c666e;
}
.html {
  width: 90%;
  background-color: #2c666e;
}
.css {
  width: 80%;
  background-color: #2c666e;
}
.react {
  width: 85%;
  background-color: #2c666e;
}
.node {
  width: 65%;
  background-color: #2c666e;
}
.express {
  width: 65%;
  background-color: #2c666e;
}
.postgresql {
  width: 65%;
  background-color: #2c666e;
}

/*********** ^^^BARS^^^^ ************/

.skills-paragraph {
  margin-top: 2rem;
  font-size: 14pt;
  font-family: 'Josefin Sans';
  color: rgb(0, 0, 0);
  line-height: 1.5;
  width: 35rem;
}

.power-word {
  color: #ff6464;
  font-size: 18pt;
  font-family: 'Josefin Sans';
  font-weight: bolder;
}

.list {
  list-style-type: none;
}

.listItem {
  font-size: 16pt;
  font-family: 'Josefin Sans';
  color: black;
}

#about-buttons {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#talk {
  color: rgb(92, 92, 92);
  font-size: 14pt;
  text-decoration: none;
}

#chat {
  color: rgb(92, 92, 92);
  text-decoration: none;
}

#resume {
  font-size: 14pt;
}

.storyheader {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  font-size: 32pt;
}

#story-word {
  margin-top: 0.5rem;
  color: #2c666e;
  font-family: 'Josefin Sans';
}

.allstory {
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.mystory {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 14pt;
  font-family: 'Josefin Sans';
  color: rgb(0, 0, 0);
  line-height: 1.5;
  min-width: 60rem;
}

.top-paragraph {
  margin-right: 4rem;
}

.story-extend {
  font-size: 14pt;
  font-family: 'Josefin Sans';
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

#csu {
  font-weight: bolder;
  color: green;
  text-decoration: none;
}

#fullstack {
  font-weight: bolder;
  color: red;
  text-decoration: none;
}

#port {
  font-weight: bolder;
  color: #2c666e;
  text-decoration: none;
}

#geologypic {
  width: 25rem;
  box-shadow: 0 0 1em rgb(158, 159, 166);
  background-color: white;
}

/*********** PORTFOLIO ************/

#header-portfolio {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 32pt;
}

.portfolio-intro {
  text-align: center;
  font-size: 18pt;
  font-family: 'Josefin Sans';
  color: rgb(92, 92, 92);
  line-height: 1.5;
}

.portfolio-container {
  min-height: 30rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}

.singleProjContainer {
  position: relative;
  width: 15rem;
  height: 15rem;
}

.proj-Img {
  display: block;
  width: 100%;
  height: auto;
}

.proj-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border: 2pt rgb(211, 217, 202) solid;
  background-color: white;
  cursor: pointer;
}

.singleProjContainer:hover .proj-overlay {
  opacity: 1;
}

.proj-desc {
  color: black;
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#techs-used {
  color: #ff6464;
}

/*********** CONTACT ************/

#header-contact {
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 32pt;
}

#mayflower {
  height: 28rem;
  width: 21rem;
  margin-right: 3rem;
  box-shadow: 0 0 1em rgb(158, 159, 166);
  background-color: white;
}

.contact-desc {
  text-align: center;
  margin-top: 1rem;
  font-size: 18pt;
  font-family: 'Josefin Sans';
  color: rgb(92, 92, 92);
  line-height: 1.5;
}

.contact-container {
  display: flex;
  justify-content: center;
  min-height: 30rem;
  padding: 1rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact-form {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25rem;
  height: 15rem;
  border: white 2pt solid;
  box-shadow: 0 0 1em rgb(158, 159, 166);
  background-color: white;
}

#input-area {
  padding: 0.5rem;
  min-width: 25rem;
}

#message-area {
  padding: 0.5rem;
  min-width: 25rem;
  max-width: 25rem;
  min-height: 3rem;
}

.button {
  /* margin: 2rem; */
  padding: 1rem;
  cursor: pointer;
  max-width: 10rem;
  font-size: 18pt;
  font-family: 'Josefin Sans';
  color: rgb(92, 92, 92);
}

/*********** FOOTER ************/

#footer {
  padding: 1rem;
  color: rgb(92, 92, 92);
  text-align: center;
  font-size: 10pt;
}

.copyright-icon {
  margin-left: 0.5rem;
  width: 1rem;
}

/* ********** MEDIA QUERY ************* */

.my-button {
  background-color: transparent;
  border: 10px;
  color: #2c666e;
  cursor: pointer;
  font-size: 30px;
  margin-right: 27rem;
  margin-top: 2rem;
  float: right;
  display: none;
}

.my-button:focus {
  outline: none;
}

.nav-elements-mobile {
  display: flex;
  color: #2c666e;
  font-family: 'Josefin Sans';
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;

  gap: 2rem;
  display: none;
}

@media (min-width: 320px) and (max-width: 800px) {
  #root {
    display: flex;
    align-items: center;
    margin-left: -24rem;
    overflow-x: hidden;
  }

  #is-sticky {
    position: unset;
  }

  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar.show {
    display: flex;
  }

  .my-button {
    display: block;
  }
  .nav-elements-mobile {
    display: flex;
    margin-left: 50%;
  }

  .greeting {
    font-size: 18pt;
  }

  .star {
    font-size: 52pt;
    margin-left: -2rem;
  }

  #idpic {
    margin-left: -1rem;
    width: 14rem;
    height: 14rem;
  }
  #CONTACT {
    color: #2c666e;
  }

  #CONTACT:hover {
    color: black;
    cursor: pointer;
    transform: scale(1.2);
  }

  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .btn.btn1 {
    display: none;
  }

  #header-about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  #aboutMe {
    margin-top: -3rem;
  }

  .lillilabout {
    width: 20rem;
  }

  .aboutcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #aboutPic {
    width: 20rem;
  }

  .skillheader {
    display: flex;
    margin-left: -3rem;
    justify-content: center;
  }

  .skillbars {
    width: 20rem;
  }

  .skills-paragraph {
    width: 24rem;
  }

  .storyheader {
    margin-top: -2rem;
    margin-left: -10rem;
    display: flex;
    justify-content: center;
  }

  #geologypic {
    width: 20rem;
    margin-left: -1rem;
  }
  .mystory {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .top-paragraph {
    margin-top: -1rem;
    margin-left: 2rem;
    max-width: 20rem;
    margin-left: 4rem;
    font-size: 12pt;
  }

  .story-extend {
    margin-left: 20rem;
    font-size: 12pt;
    width: 20rem;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #header-portfolio {
    font-size: 25pt;
  }

  .portfolio-container {
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: auto;
  }

  .big-contact-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .contact-desc {
    font-size: 14pt;
  }

  #mayflower {
    margin: auto;
    width: 15rem;
    height: 20rem;
  }

  .contact-form {
    width: 15rem;
  }

  #input-area {
    min-width: 15rem;
  }
  #message-area {
    min-width: 15rem;
  }
}
